<div class="cover default-primary-color text-primary-color">
	<!-- <img src="img/cover.png" alt=""/> -->
	<div class="container">
		<div class="row" style="padding-top:17%;">
			<div class="col l5 m6 s12 z-depth-1  signup-form accent-color">
				<p id="login-message" class="center" style="font-size:20px; margin:10px;">قم بتسجيل الدخول حتى تبدأ بالتسوق</p>
				<p style="text-align: center; margin:10px;"><input id="name" placeholder="اسم الصيدلية" type="text"></p>
				<p style="text-align: center; margin:10px;"><input id="password" placeholder="رمز الدخول" type="password"></p>
				<a class="signup-btn">ابدأ بالتسوق </a>
				<p style="text-align: center; margin:20px 0px 10px 0px;">اذا ما عندك حساب <a style="color:#3140A1" href="/signup">سجل بمسوكجي</a></p>
			</div>
			<div class="col l7 m6 s12 " style="text-align:right;">
				<h1 style="color:white;" style="font-family:'ghala-bold' !important;">مسوكچي</h1>
				<h3 style="color:#C5CAE9;">كمل نقوصات صيدليتك من موبايلك</h3>
				<h5 style="color:#C5CAE9;">دور وتسوق من المذاخر بدون تعب والتوصيل مجاني</h5>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row" style="text-align:right; min-height:240px;">
		<div class="col l6 s12 ">
			<h4 style="text-align:right; margin-top:40px;">للصيدليات</h4>
			<ul style="font-size:16px;">
				<li>تصفح جميع المواد الموجودة في مذاخر بغداد •</li>
				<li>بحث سهل وسريع بالاسم التجاري او العلمي عن المواد المفقودة •</li>
				<li>اطلب المواد في اي وقت مع ميزة التوصيل السريع والمجاني •</li>
				<li>ابقى مطلعا على اخر العروض •</li>
			</ul>
		</div>
		<div class="col l6 s12">
			<h4 style="text-align:right; margin-top:40px;">للمذاخر</h4>
			<ul style="font-size:16px;">
				<li>حساب لكل مذخر يقوم بعرض المواد التي يرغب بها •</li>
				<li>ادراة للطلبات توفر عليك مشاكل اخذ الاوردرات بالهاتف او الفايبر •  </li>
				<li>تحليل فوري واحصائات عن عمليات البيع وكمية الربح •</li>
				<li>ارسال العروض عن طريق اشعارات الهاتف •</li>
			</ul>
		</div>
	</div>
</div>
<footer class="page-footer" style="text-align: left;">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h5 class="white-text">اتصل بنا</h5>
				<ul>
					<li><a class="grey-text text-lighten-3" href="#!">facebook</a></li>
					<li><a class="grey-text text-lighten-3" href="#!">+9647722250042</a></li>
					<li><a class="grey-text text-lighten-3" href="#!">بغداد - الجادرية</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			© 2015 سولو ستوديو للخدمات السحابية والتسويق 
		</div>
	</div>
</footer>

<script>
	$(".page-title").html("<a href='\\'>مسوكجي</a>")
</script>