<div class="container" style="margin-top:100px;">
	<div class="row">
		<div class="offset-l2 input-field col s12 l6">
			<input id="email" placeholder="مثال : phramacy@gmail.com" type="text" class="validate">
			<label  class="active" for="first_name2">البريد الالكتروني</label>
		</div>
		<div class="input-field col s12 l6">
			<input id="password" placeholder="٦ احرف كحد ادنى" type="password" class="validate">
			<label class="active" for="first_name2">الرمز السري</label>
		</div>
		<div class="offset-l2 input-field col s12 l6">
			<input id="name" placeholder="ستقوم بتسجيل الدخول عن طريق هذا الاسم" type="text" class="validate">
			<label class="active" for="first_name2">اسم الصيدلية</label>
		</div>
		<div class="input-field col s12 l6">
			<input id="phone" placeholder="مثال : ٠٧٧٢٢٢٥٠٠٤٢" type="text" class="validate">
			<label class="active" for="first_name2">رقم الهاتف</label>
		</div>
		<div class="offset-l2 input-field col s12 l6">
			<div class="file-field input-field">
				<div class="accent-color btn">
					<span>حمل</span>
					<input id="opening-certificate" type="file" multiple>
				</div>
				<div class="file-path-wrapper">
					<input class="file-path validate" type="text" placeholder="نسخة من شهادة التسجيل">
				</div>
			</div>				
			</div>
			<div class="input-field col s12 l6">
				<div class="file-field input-field">
					<div class=" accent-color btn">
						<span>حمل</span>
						<input id="oneid" type="file" multiple>
					</div>
					<div class="file-path-wrapper">
						<input  class="file-path validate" type="text" placeholder="نسخة من هوية المتواجد">
					</div>
				</div>
			</div>
			<div class="offset-l2 input-field col s12 l12">
				<button class="btn sign-btn accent-color waves-effect waves-light " type="submit" name="action">تسجيل
				<i class="material-icons right">send</i>
				</button>
			</div>
			
		</div>
	</div>
<footer class="page-footer" style="text-align: left; margin-top:100px;">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h5 class="white-text">اتصل بنا</h5>
				<ul>
					<li><a class="grey-text text-lighten-3" href="#!">facebook</a></li>
					<li><a class="grey-text text-lighten-3" href="#!">+9647722250042</a></li>
					<li><a class="grey-text text-lighten-3" href="#!">بغداد - الجادرية</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			© 2015 سولو ستوديو للخدمات السحابية والتسويق 
		</div>
	</div>
</footer>

<script>
	$(".page-title").html("<a href='\\'>رجوع \></a>")
</script>